<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h3>Circle Graph</h3>
    <form action="starter/">
        <input type="submit" value="Go to circle graph" />
    </form>
    <h3>Learning Graph</h3>
    <form action="learning_graph/">
        <input type="submit" value="Go to learning graph" />
    </form>
</body>
</html>